django==2.2.24

django-haystack
whoosh
jieba

Pygments
Markdown

pillow

Faker

django-imagekit

django-allauth

django-crispy-forms

djangorestframework
django-filter

faker

django-redis

supervisor