{# 评论展示 #}
{#<div class="card-body p-2 p-md-3" id="comment-list">#}
{#    <ul class="list-unstyled">#}
{#        <div class="mb-3">#}
{#            <strong>4&nbsp;人参与&nbsp;|&nbsp;6&nbsp;条评论</strong>#}
{#        </div>#}
{##}
{#        <div class="comment-parent pt-2" id="com-655">#}
{#            <li class="media">#}
{##}
{##}
{#                <img class="avatar" src="/media/avatar/2019/03/13/20180208-172024eSpace.png"#}
{#                     alt="Jerry94">#}
{##}
{#                <div class="media-body ml-2">#}
{#                    <a class="float-right small mr-2 rep-btn" href="#editor-block"#}
{#                       data-repid="655"#}
{#                       data-repuser="Jerry94">回复</a>#}
{#                    <p class="mt-0 mb-1">#}
{##}
{##}
{#                        <strong>#}
{#                            <a href="https://www.jerrycoding.com/" title="前往 Jerry94 的个人网站"#}
{#                               target="_blank">Jerry94#}
{#                            </a>#}
{#                        </strong>#}
{##}
{##}
{#                        <i class="fa fa-envelope-o" title="邮箱认证用户"></i>#}
{##}
{##}
{#                    </p>#}
{#                    <p class="small text-muted">3&nbsp;楼&nbsp;-&nbsp;2 周，4天前</p>#}
{#                </div>#}
{#            </li>#}
{#            <div class="comment-body">#}
{#                <p>博主的博客是越来越骚了 备案号链接错了 得修改下</p>#}
{#            </div>#}
{#        </div>#}
{##}
{##}
{#        <div class="comment-parent pt-2" id="com-635">#}
{#            <li class="media">#}
{##}
{##}
{#                <img class="avatar" src="/media/avatar/default.png" alt="hjdhnx">#}
{##}
{#                <div class="media-body ml-2">#}
{#                    <a class="float-right small mr-2 rep-btn" href="#editor-block"#}
{#                       data-repid="635"#}
{#                       data-repuser="hjdhnx">回复</a>#}
{#                    <p class="mt-0 mb-1">#}
{##}
{##}
{#                        <strong title="该用户未认证或没有个人站点">hjdhnx</strong>#}
{##}
{##}
{#                    </p>#}
{#                    <p class="small text-muted">2&nbsp;楼&nbsp;-&nbsp;1月前</p>#}
{#                </div>#}
{#            </li>#}
{#            <div class="comment-body">博客的master版本按2.1分支的安装方式无法运行<br>#}
{#                <p>在python manage.py migrate时候报错 python manage.py make migrate没问题#}
{#                    报错详情:#}
{#                    django.db.utils.OperationalError: (1071, 'Specified key was too long; max#}
{#                    key#}
{#                    length is 1000 bytes')#}
{#                    求解决</p>#}
{#            </div>#}
{#        </div>#}
{##}
{##}
{#        <ul class="list-unstyled ml-4">#}
{##}
{#            <div class="comment-child pt-2" id="com-636">#}
{#                <li class="media">#}
{##}
{##}
{#                    <img class="avatar"#}
{#                         src="/media/avatar/2019/07/27/91ef76c6a7efce1b99717f97a851f3deb48f6510.png"#}
{#                         alt="Hopetree">#}
{##}
{#                    <div class="media-body ml-2">#}
{#                        <a class="float-right small mr-2 rep-btn" href="#editor-block"#}
{#                           data-repid="636" data-repuser="Hopetree">回复</a>#}
{#                        <p class="mt-0 mb-1">#}
{##}
{##}
{#                            <strong>#}
{#                                <a href="https://tendcode.com" title="前往 Hopetree 的个人网站"#}
{#                                   target="_blank">Hopetree#}
{#                                </a>#}
{#                            </strong>#}
{##}
{##}
{#                            <i class="fa fa-github" title="Github 绑定用户"></i>#}
{##}
{##}
{#                            <small class="text-danger">[博主]</small>#}
{##}
{#                            <i class="fa fa-share"></i>#}
{#                            @hjdhnx#}
{#                        </p>#}
{#                        <p class="small text-muted">1月前</p>#}
{#                    </div>#}
{#                </li>#}
{#                <div class="comment-body">#}
{#                    <p>#}
{#                        你可以把报错放谷歌或者百度搜索，很多相关回答，我看到的原因可能是你数据库的格式设置的utf8mb4，但是我博客是配置的utf8，所以你创建数据库的时候需要设置一下为utf8，你看看是不是这个问题的#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </ul>#}
{##}
{##}
{#        <div class="comment-parent pt-2" id="com-631">#}
{#            <li class="media">#}
{##}
{##}
{#                <img class="avatar" src="https://avatars3.githubusercontent.com/u/16336606?v=4"#}
{#                     alt="frostming">#}
{##}
{#                <div class="media-body ml-2">#}
{#                    <a class="float-right small mr-2 rep-btn" href="#editor-block"#}
{#                       data-repid="631"#}
{#                       data-repuser="frostming">回复</a>#}
{#                    <p class="mt-0 mb-1">#}
{##}
{##}
{#                        <strong>#}
{#                            <a href="https://github.com/frostming" title="前往 frostming 的个人网站"#}
{#                               target="_blank">frostming#}
{#                            </a>#}
{#                        </strong>#}
{##}
{##}
{#                        <i class="fa fa-github" title="Github 绑定用户"></i>#}
{##}
{##}
{#                    </p>#}
{#                    <p class="small text-muted">1&nbsp;楼&nbsp;-&nbsp;1月，1 周前</p>#}
{#                </div>#}
{#            </li>#}
{#            <div class="comment-body">#}
{#                <p>博客做得越来越漂亮了。</p>#}
{#                <p>我写了一篇新文章<a href="https://frostming.com/2019/11-25/git-commit-sign">给你的 Git#}
{#                    commit#}
{#                    加上绿勾</a>，我觉得你可能会需要</p>#}
{#            </div>#}
{#        </div>#}
{##}
{##}
{#        <ul class="list-unstyled ml-4">#}
{##}
{#            <div class="comment-child pt-2" id="com-632">#}
{#                <li class="media">#}
{##}
{##}
{#                    <img class="avatar"#}
{#                         src="/media/avatar/2019/07/27/91ef76c6a7efce1b99717f97a851f3deb48f6510.png"#}
{#                         alt="Hopetree">#}
{##}
{#                    <div class="media-body ml-2">#}
{#                        <a class="float-right small mr-2 rep-btn" href="#editor-block"#}
{#                           data-repid="632" data-repuser="Hopetree">回复</a>#}
{#                        <p class="mt-0 mb-1">#}
{##}
{##}
{#                            <strong>#}
{#                                <a href="https://tendcode.com" title="前往 Hopetree 的个人网站"#}
{#                                   target="_blank">Hopetree#}
{#                                </a>#}
{#                            </strong>#}
{##}
{##}
{#                            <i class="fa fa-github" title="Github 绑定用户"></i>#}
{##}
{##}
{#                            <small class="text-danger">[博主]</small>#}
{##}
{#                            <i class="fa fa-share"></i>#}
{#                            @frostming#}
{#                        </p>#}
{#                        <p class="small text-muted">1月，1 周前</p>#}
{#                    </div>#}
{#                </li>#}
{#                <div class="comment-body">#}
{#                    <p>我看了一下我的，commit的确没有认证的锁，合入的倒是会自动添加，文章看完了，涨知识了，回去研究一下</p>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="comment-child pt-2" id="com-633">#}
{#                <li class="media">#}
{##}
{##}
{#                    <img class="avatar"#}
{#                         src="https://avatars3.githubusercontent.com/u/16336606?v=4"#}
{#                         alt="frostming">#}
{##}
{#                    <div class="media-body ml-2">#}
{#                        <a class="float-right small mr-2 rep-btn" href="#editor-block"#}
{#                           data-repid="633" data-repuser="frostming">回复</a>#}
{#                        <p class="mt-0 mb-1">#}
{##}
{##}
{#                            <strong>#}
{#                                <a href="https://github.com/frostming"#}
{#                                   title="前往 frostming 的个人网站"#}
{#                                   target="_blank">frostming#}
{#                                </a>#}
{#                            </strong>#}
{##}
{##}
{#                            <i class="fa fa-github" title="Github 绑定用户"></i>#}
{##}
{##}
{#                            <i class="fa fa-share"></i>#}
{#                            @Hopetree#}
{#                        </p>#}
{#                        <p class="small text-muted">1月，1 周前</p>#}
{#                    </div>#}
{#                </li>#}
{#                <div class="comment-body">#}
{#                    <p>如果是通过Github页面生成的提交时会带上Verified的</p>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </ul>#}
{##}
{##}
{#    </ul>#}
{#</div>#}