<div class="card border-0 rounded-0" id="editor-block">
    {# 评论功能 #}
    <div class="card-body">
        <div id="test-editor">
            {# 还没写好表单,所以警告 #}
            {# 坑：之前在textarea中留了两个空行，结果显示很奇怪 #}
            {#<textarea style="display:none;"></textarea>#}
            <textarea class="d-none"></textarea>
        </div>
    </div>

    {#未登录的评论功能#}
    {#<div class="card-body text-center m-2 m-md-3 f-16" id="no-editor">#}
    {#    <div>您尚未登录，请#}
    {#        <a class="text-danger" href="#">登录</a> 或#}
    {#        <a class="text-danger" href="#">注册</a>#}
    {#        后评论#}
    {#    </div>#}
    {#    <div class="login-link mt-2">#}
    {#        <a class="mx-3" href="#"#}
    {#           title="社交账号登录有点慢，请耐心等候！"><i class="fa fa-weibo fa-2x"></i></a>#}
    {#        <a class="mx-3" href="#"#}
    {#           title="社交账号登录有点慢，请耐心等候！"><i class="fa fa-github fa-2x"></i></a>#}
    {#    </div>#}
    {#</div>#}
</div>
