<!-- 网站底部 -->
<footer class="container-fluid mt-4 py-0 bg-dark">
    {# 更小更细的文本格式 #}
    <div class="card-body text-center small font-weight-light text-light px-0">
        <p class="card-text mb-1">Copyright&nbsp;&copy;&nbsp;<span id="year-info"></span>
            <a href="#" target="_blank"
               title="博客作者的Github">github地址</a>.&nbsp;Powered&nbsp;by&nbsp;Django.
        </p>
        <p class="mb-0">
            <a href="#" target="_blank">Sitemap网站地图</a>
        </p>
    </div>
</footer>