<!-- 网站底部 -->
<footer class="container-fluid bg-dark link-footer mt-4 py-0">
    {# 更小更细的文本格式 #}
    <div class="card-body text-center small font-weight-light px-0">
        <p class="card-text mb-1">
            Copyright&nbsp;&copy;&nbsp;<span>2020</span>
            {# a标签要么class添加字体颜色，要么在css添加link hover之类的属性 #}
            <a href="https://github.com/flyskywen" target="_blank"
               title="博客作者的Github">Flyskywen</a>.&nbsp;Powered&nbsp;by&nbsp;Django.
        </p>
        <p class="mb-0">
            <a href="#" target="_blank"> Sitemap网站地图 !</a>
            <span>| 网站已续航x天</span>
        </p>
    </div>
</footer>