{# 使用pagination可以用page_obj替代post_list #}

<ul class="pagination justify-content-center mt-3">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <i class="fa fa-angle-left"></i>
            </a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link">
                <i class="fa fa-angle-left"></i>
            </a>
        </li>
    {% endif %}

    <li class="page-item current disabled">
        <a href="#" class="page-link">第 {{ page_obj.number }}/{{ paginator.num_pages }} 页</a>
    </li>
    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    {% endif %}
    {#<li class="align-self-center ml-2 small">#}
    {#    共{{ post_list.paginator.num_pages }}页#}
    {#</li>#}
</ul>

