# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" to set user-specific options.
#
# If the same option is defined multiple times, the last one will apply.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.

#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]

socket                  = /run/mysqld/mysqld.sock  #socket文件是linux/unix系统特有的，用户在该环境下的客户端连接可以不通过tcp/ip网络，而直接使用socket文件连接
# port                   = 3306 #客户端连接通信端口
# default-character-set = utf8mb4         #客户端默认连接字集集,若编译安装时已指定则不用填写

# 其他配置等需要的时候再来

# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/
