{% extends 'blog/index.html' %}
{% load static %}

{# 不要忘记 load highlight,base.html中定义的高亮css #}
{% load highlight %}

{% if query %}
    {% block top %}
        {# 替换index中的轮播 #}
        {# 描述性文字 #}
        <div class="bg-white px-3 pt-3 pb-1">
            {# 搜索出的文章数目 #}
            <p class="float-right mb-0">共<span class="mx-2 text-info">{{ paginator.count }}</span>篇</p>
            {# 搜索的字符串 #}
            <h5><strong>当前搜索：{{ query }}</strong></h5>
            <p>
                网站全文搜索功能，将整个网站的文章的标题和内容进行分词存储，然后给每个分词建立索引，搜索功能返回的是全站文章中标题或者内容中包含关键词的文章。
            </p>
        </div>
    {% endblock top %}

    {% block hot %}
        {# 搜索页面不需要hot排序 #}
    {% endblock %}

    {% block post_list %}
        <!-- 文章列表 -->
        <div class="article-list">
            {% for result in page.object_list %}
                <div class="media mb-1 mb-sm-2 p-2 p-lg-3 bg-white">
                    <!-- 文章图片，占据一行百分之25的内容 -->
                    <!-- align子元素设置 支持不同尺寸匹配 -->
                    <div class="align-self-center mr-2 mr-lg-3 w-25">
                        <a href="{{ result.object.get_absolute_url }}" target="_blank">
                            <img class="w-100 article-img" src="{% static 'blog/img/3.jpg' %}"
                                 alt="博客添加 markdown 在线编辑器工具">
                        </a>
                    </div>

                    <!-- 标题和摘要 -->
                    <div class="media-body">
                        <!-- 文章标题链接 -->
                        <h5 class="mt-0 font-weight-bold text-info">
                            <a href="{{ result.object.get_absolute_url }}" target="_blank">
                                {% highlight result.object.title with query %}
                            </a>
                        </h5>

                        <!-- 正文 -->
                        <!-- 只在sm屏幕隐藏 -->
                        <p class="d-none d-sm-block mb-2">
                            {% highlight result.object.body with query %}
                        </p>
                        <!-- 只在sm屏幕可见 -->
                        <p class="d-block d-sm-none mb-2">
                            {% highlight result.object.body with query %}
                            需要写两个摘要信息
                            <!-- 分类 访问量 评论量 -->
                        <div class="text-muted mb-0">
                            <a class="cate" href="#" title="查看当前分类下更多文章">
                                <i class="fa fa-book mr-1"></i>{{ result.object.category.name }}</a>

                            <span><i class="fa fa-eye ml-2 mr-1"></i>{{ result.object.increase_views }}</span>

                            <a href="{{ result.object.get_absolute_url }}#comment-block" target="_blank"
                               title="查看文章评论">
                                <i class="fa fa-comments ml-2 mr-1"></i>8
                            </a>
                        </div>

                    </div>

                </div> <!-- 第一篇文章 -->
            {% empty %}
                <!-- 这个格式要重写 -->
                <div class="no_post">暂时还没有发布的文章！</div>
            {% endfor %}

        </div> <!-- 文章列表结束 -->

        {# 分页 #}
        <div class="pagination">
            <ul>
                {% if post_list.has_previous %}
                    <li><a href="?page={{ post_list.previous_page_number }}">上一页</a></li>
                {% endif %}
                <li class="current">第{{ post_list.number }}页/共{{ post_list.paginator.num_pages }}页</li>
                {% if post_list.has_next %}
                    <li><a href="?page={{ post_list.next_page_number }}">下一页</a></li>
                {% endif %}
            </ul>
        </div>
    {% endblock %}

{% else %}
    请输入搜索关键词，例如 django
{% endif %}