{% extends 'base.html' %}
{% load static %}



{% block main %}
    <main class="mt-2">
        <div class="container-fluid">
            <div class="row">

            </div>

            {#<div class="row justify-content-center">#}
            <div class="row">

                {# 暂时未实现隐藏目录栏 #}
                <div class="col-lg-3 col-xl-2 bg-white">
                    {# 标题 #}
                    <h5 class="widget-title">文章目录</h5>
                    {# toc #}
                    {{ post.toc|safe }}
                </div>

                <div class="col-lg-9 col-xl-10">

                    <!-- 面包屑导航 -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-white border-0 rounded-0 mb-2 py-2">
                            <li class="breadcrumb-item">
                                <i class="fa fa-home mr-1"></i><a href="/">首页</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">{{ post.category.name }}</a>
                            </li>
                            {# 仅在md显示 #}
                            <li class="breadcrumb-item active d-none d-md-block" aria-current="page">
                                {{ post.title }}
                            </li>
                            {# 小于md显示,屏幕小时,不显示标题 #}
                            <li class="breadcrumb-item active d-md-none" aria-current="page">当前位置</li>
                        </ol>
                    </nav>

                    {# 文章部分 #}
                    <div class="card rounded-0 border-0" id="article">
                        <div class="card-body px-2 px-md-3 pb-0">
                            <!-- 标题 -->
                            <h1 class="card-title text-center font-weight-bold text-info">
                                {{ post.title }}
                            </h1>
                            <hr>

                            <!-- 文章信息 -->
                            <div class="text-center">
                                {# 创建和修改时间 #}
                                <span class="mx-2" data-toggle="tooltip" data-placement="bottom"
                                      title="最后编辑于{{ post.modified_time }}">
                                {{ post.created_time }}
                                </span>
                                {# 访问量 #}
                                <span class="mx-2">{{ post.views }}</span>
                                {# 评论 #}
                                <a class="mx-2 to-com" href="#comment-block">评论 {{ post.comment_set.count }}</a>
                            </div>

                            <div class="article-body mt-4" style="line-height:1.8">
                                <!-- 正文 -->
                                {{ post.body|safe }}

                                <!-- 版权声明 -->
                                <blockquote class="p-1" style="border-left: 4px solid #dc3545;">
                                    <p class="m-1"><strong>版权声明：</strong>如无特殊说明，文章均为本站原创，转载请注明出处</p>
                                    <p class="m-1"><strong>本文链接：</strong>https://tendcode.com/article/theme-change/</p>
                                </blockquote>
                            </div>

                            <!-- 标签云 -->
                            <div class="tag-cloud my-4">
                                {# 注意:post.tags不是iterable对象 #}
                                {% for tag in post.tags.all %}
                                    <a class="tags" href="#">{{ tag.name }}</a>
                                {% endfor %}
                            </div>

                            {# 上下篇文章 #}
                            <nav class="more-page">
                                <ul class="pagination justify-content-between">
                                    <li class="page-item">

                                        <a class="d-none d-md-block" href="#"
                                           title="上一篇：Python 模板渲染库 yaml 和 jinja2 的实战经验分享">
                                            <i class="fa fa-chevron-left mr-1"></i>
                                            Python 模板渲染库 yaml
                                        </a>
                                        <a class="d-md-none" href="#">
                                            <i class="fa fa-chevron-left mr-1"></i>上一篇</a>

                                    </li>
                                    <li class="page-item">

                                        <a class="d-none d-md-block" href="#"
                                           title="下一篇：博客添加 markdown 在线编辑器工具">
                                            博客添加 markdown 在线编辑
                                            <i class="fa fa-chevron-right ml-1"></i>
                                        </a>
                                        <a class="d-md-none" href="#">
                                            下一篇<i class="fa fa-chevron-right ml-1"></i>
                                        </a>

                                    </li>
                                </ul>
                            </nav>

                            {# 赞助功能块 #}
                            <div class="text-center">
                                <button class="btn btn-danger rounded-0" data-toggle="collapse"
                                        data-target=".multi-collapse" aria-expanded="false"
                                        aria-controls="sponsor-zfb sponsor-wx" style="line-height: 1;font-size: .8rem;">
                                    <i class="fa fa-cny"></i>
                                    如果文章对你有所帮助，可以赞助本站
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                            </div>
                            <div class="row p-3">
                                <div class="col text-center">
                                    <div class="collapse multi-collapse" id="sponsor-wx">
                                        <div class="p-1 text-success">微信</div>
                                        <img class="w-75" src="{% static 'blog/img/3.jpg' %}">
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <div class="collapse multi-collapse" id="sponsor-zfb">
                                        <div class="p-1 text-primary">支付宝</div>
                                        <img class="w-75" src="{% static 'blog/img/3.jpg' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-2 rounded-0 border-0" id="comment-block">

                        <div class="card border-0 rounded-0" id="editor-block">

                            {# 评论功能 #}
                            <div class="card-body">
                                <div id="test-editor">
                                    {# 还没写好表单,所以警告 #}
                                    {# 坑：之前在textarea中留了两个空行，结果显示很奇怪 #}
                                    <textarea style="display:none;"></textarea>
                                </div>
                            </div>

                            {#未登录的评论功能#}
                            {#<div class="card-body text-center m-2 m-md-3 f-16" id="no-editor">#}
                            {#    <div>您尚未登录，请#}
                            {#        <a class="text-danger" href="#">登录</a> 或#}
                            {#        <a class="text-danger" href="#">注册</a>#}
                            {#        后评论#}
                            {#    </div>#}
                            {#    <div class="login-link mt-2">#}
                            {#        <a class="mx-3" href="#"#}
                            {#           title="社交账号登录有点慢，请耐心等候！"><i class="fa fa-weibo fa-2x"></i></a>#}
                            {#        <a class="mx-3" href="#"#}
                            {#           title="社交账号登录有点慢，请耐心等候！"><i class="fa fa-github fa-2x"></i></a>#}
                            {#    </div>#}
                            {#</div>#}
                        </div>

                        {# 评论展示 #}
                        {#<div class="card-body p-2 p-md-3" id="comment-list">#}
                        {#    <ul class="list-unstyled">#}
                        {#        <div class="mb-3">#}
                        {#            <strong>4&nbsp;人参与&nbsp;|&nbsp;6&nbsp;条评论</strong>#}
                        {#        </div>#}
                        {##}
                        {#        <div class="comment-parent pt-2" id="com-655">#}
                        {#            <li class="media">#}
                        {##}
                        {##}
                        {#                <img class="avatar" src="/media/avatar/2019/03/13/20180208-172024eSpace.png"#}
                        {#                     alt="Jerry94">#}
                        {##}
                        {#                <div class="media-body ml-2">#}
                        {#                    <a class="float-right small mr-2 rep-btn" href="#editor-block"#}
                        {#                       data-repid="655"#}
                        {#                       data-repuser="Jerry94">回复</a>#}
                        {#                    <p class="mt-0 mb-1">#}
                        {##}
                        {##}
                        {#                        <strong>#}
                        {#                            <a href="https://www.jerrycoding.com/" title="前往 Jerry94 的个人网站"#}
                        {#                               target="_blank">Jerry94#}
                        {#                            </a>#}
                        {#                        </strong>#}
                        {##}
                        {##}
                        {#                        <i class="fa fa-envelope-o" title="邮箱认证用户"></i>#}
                        {##}
                        {##}
                        {#                    </p>#}
                        {#                    <p class="small text-muted">3&nbsp;楼&nbsp;-&nbsp;2 周，4天前</p>#}
                        {#                </div>#}
                        {#            </li>#}
                        {#            <div class="comment-body">#}
                        {#                <p>博主的博客是越来越骚了 备案号链接错了 得修改下</p>#}
                        {#            </div>#}
                        {#        </div>#}
                        {##}
                        {##}
                        {#        <div class="comment-parent pt-2" id="com-635">#}
                        {#            <li class="media">#}
                        {##}
                        {##}
                        {#                <img class="avatar" src="/media/avatar/default.png" alt="hjdhnx">#}
                        {##}
                        {#                <div class="media-body ml-2">#}
                        {#                    <a class="float-right small mr-2 rep-btn" href="#editor-block"#}
                        {#                       data-repid="635"#}
                        {#                       data-repuser="hjdhnx">回复</a>#}
                        {#                    <p class="mt-0 mb-1">#}
                        {##}
                        {##}
                        {#                        <strong title="该用户未认证或没有个人站点">hjdhnx</strong>#}
                        {##}
                        {##}
                        {#                    </p>#}
                        {#                    <p class="small text-muted">2&nbsp;楼&nbsp;-&nbsp;1月前</p>#}
                        {#                </div>#}
                        {#            </li>#}
                        {#            <div class="comment-body">博客的master版本按2.1分支的安装方式无法运行<br>#}
                        {#                <p>在python manage.py migrate时候报错 python manage.py make migrate没问题#}
                        {#                    报错详情:#}
                        {#                    django.db.utils.OperationalError: (1071, 'Specified key was too long; max#}
                        {#                    key#}
                        {#                    length is 1000 bytes')#}
                        {#                    求解决</p>#}
                        {#            </div>#}
                        {#        </div>#}
                        {##}
                        {##}
                        {#        <ul class="list-unstyled ml-4">#}
                        {##}
                        {#            <div class="comment-child pt-2" id="com-636">#}
                        {#                <li class="media">#}
                        {##}
                        {##}
                        {#                    <img class="avatar"#}
                        {#                         src="/media/avatar/2019/07/27/91ef76c6a7efce1b99717f97a851f3deb48f6510.png"#}
                        {#                         alt="Hopetree">#}
                        {##}
                        {#                    <div class="media-body ml-2">#}
                        {#                        <a class="float-right small mr-2 rep-btn" href="#editor-block"#}
                        {#                           data-repid="636" data-repuser="Hopetree">回复</a>#}
                        {#                        <p class="mt-0 mb-1">#}
                        {##}
                        {##}
                        {#                            <strong>#}
                        {#                                <a href="https://tendcode.com" title="前往 Hopetree 的个人网站"#}
                        {#                                   target="_blank">Hopetree#}
                        {#                                </a>#}
                        {#                            </strong>#}
                        {##}
                        {##}
                        {#                            <i class="fa fa-github" title="Github 绑定用户"></i>#}
                        {##}
                        {##}
                        {#                            <small class="text-danger">[博主]</small>#}
                        {##}
                        {#                            <i class="fa fa-share"></i>#}
                        {#                            @hjdhnx#}
                        {#                        </p>#}
                        {#                        <p class="small text-muted">1月前</p>#}
                        {#                    </div>#}
                        {#                </li>#}
                        {#                <div class="comment-body">#}
                        {#                    <p>#}
                        {#                        你可以把报错放谷歌或者百度搜索，很多相关回答，我看到的原因可能是你数据库的格式设置的utf8mb4，但是我博客是配置的utf8，所以你创建数据库的时候需要设置一下为utf8，你看看是不是这个问题的#}
                        {#                    </p>#}
                        {#                </div>#}
                        {#            </div>#}
                        {##}
                        {#        </ul>#}
                        {##}
                        {##}
                        {#        <div class="comment-parent pt-2" id="com-631">#}
                        {#            <li class="media">#}
                        {##}
                        {##}
                        {#                <img class="avatar" src="https://avatars3.githubusercontent.com/u/16336606?v=4"#}
                        {#                     alt="frostming">#}
                        {##}
                        {#                <div class="media-body ml-2">#}
                        {#                    <a class="float-right small mr-2 rep-btn" href="#editor-block"#}
                        {#                       data-repid="631"#}
                        {#                       data-repuser="frostming">回复</a>#}
                        {#                    <p class="mt-0 mb-1">#}
                        {##}
                        {##}
                        {#                        <strong>#}
                        {#                            <a href="https://github.com/frostming" title="前往 frostming 的个人网站"#}
                        {#                               target="_blank">frostming#}
                        {#                            </a>#}
                        {#                        </strong>#}
                        {##}
                        {##}
                        {#                        <i class="fa fa-github" title="Github 绑定用户"></i>#}
                        {##}
                        {##}
                        {#                    </p>#}
                        {#                    <p class="small text-muted">1&nbsp;楼&nbsp;-&nbsp;1月，1 周前</p>#}
                        {#                </div>#}
                        {#            </li>#}
                        {#            <div class="comment-body">#}
                        {#                <p>博客做得越来越漂亮了。</p>#}
                        {#                <p>我写了一篇新文章<a href="https://frostming.com/2019/11-25/git-commit-sign">给你的 Git#}
                        {#                    commit#}
                        {#                    加上绿勾</a>，我觉得你可能会需要</p>#}
                        {#            </div>#}
                        {#        </div>#}
                        {##}
                        {##}
                        {#        <ul class="list-unstyled ml-4">#}
                        {##}
                        {#            <div class="comment-child pt-2" id="com-632">#}
                        {#                <li class="media">#}
                        {##}
                        {##}
                        {#                    <img class="avatar"#}
                        {#                         src="/media/avatar/2019/07/27/91ef76c6a7efce1b99717f97a851f3deb48f6510.png"#}
                        {#                         alt="Hopetree">#}
                        {##}
                        {#                    <div class="media-body ml-2">#}
                        {#                        <a class="float-right small mr-2 rep-btn" href="#editor-block"#}
                        {#                           data-repid="632" data-repuser="Hopetree">回复</a>#}
                        {#                        <p class="mt-0 mb-1">#}
                        {##}
                        {##}
                        {#                            <strong>#}
                        {#                                <a href="https://tendcode.com" title="前往 Hopetree 的个人网站"#}
                        {#                                   target="_blank">Hopetree#}
                        {#                                </a>#}
                        {#                            </strong>#}
                        {##}
                        {##}
                        {#                            <i class="fa fa-github" title="Github 绑定用户"></i>#}
                        {##}
                        {##}
                        {#                            <small class="text-danger">[博主]</small>#}
                        {##}
                        {#                            <i class="fa fa-share"></i>#}
                        {#                            @frostming#}
                        {#                        </p>#}
                        {#                        <p class="small text-muted">1月，1 周前</p>#}
                        {#                    </div>#}
                        {#                </li>#}
                        {#                <div class="comment-body">#}
                        {#                    <p>我看了一下我的，commit的确没有认证的锁，合入的倒是会自动添加，文章看完了，涨知识了，回去研究一下</p>#}
                        {#                </div>#}
                        {#            </div>#}
                        {##}
                        {#            <div class="comment-child pt-2" id="com-633">#}
                        {#                <li class="media">#}
                        {##}
                        {##}
                        {#                    <img class="avatar"#}
                        {#                         src="https://avatars3.githubusercontent.com/u/16336606?v=4"#}
                        {#                         alt="frostming">#}
                        {##}
                        {#                    <div class="media-body ml-2">#}
                        {#                        <a class="float-right small mr-2 rep-btn" href="#editor-block"#}
                        {#                           data-repid="633" data-repuser="frostming">回复</a>#}
                        {#                        <p class="mt-0 mb-1">#}
                        {##}
                        {##}
                        {#                            <strong>#}
                        {#                                <a href="https://github.com/frostming"#}
                        {#                                   title="前往 frostming 的个人网站"#}
                        {#                                   target="_blank">frostming#}
                        {#                                </a>#}
                        {#                            </strong>#}
                        {##}
                        {##}
                        {#                            <i class="fa fa-github" title="Github 绑定用户"></i>#}
                        {##}
                        {##}
                        {#                            <i class="fa fa-share"></i>#}
                        {#                            @Hopetree#}
                        {#                        </p>#}
                        {#                        <p class="small text-muted">1月，1 周前</p>#}
                        {#                    </div>#}
                        {#                </li>#}
                        {#                <div class="comment-body">#}
                        {#                    <p>如果是通过Github页面生成的提交时会带上Verified的</p>#}
                        {#                </div>#}
                        {#            </div>#}
                        {##}
                        {#        </ul>#}
                        {##}
                        {##}
                        {#    </ul>#}
                        {#</div>#}

                    </div>
                </div>
            </div>
        </div>

        <!--图片预览-->
        <div class="modal fade" id="img-to-big" tabindex="-1" role="dialog" aria-labelledby="img-to-bigTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 90%">
                <img class="rounded mx-auto d-block" alt="image" style="max-width: 100%">
            </div>
        </div>

        <!--固定在屏幕两端的前后文章按钮，暂时未实现-->
        {#<div class="more-blog" id="icon-pre-blog">#}
        {#    <a href="#">#}
        {#        <i class="fa fa-angle-left fa-3x"></i>#}
        {#    </a>#}
        {#</div>#}
        {##}
        {##}
        {#<div class="more-blog" id="icon-next-blog">#}
        {#    <a href="#">#}
        {#        <i class="fa fa-angle-right fa-3x"></i>#}
        {#    </a>#}
        {#</div>#}

    </main>
{% endblock main %}

{% block highlight %}
    {# 代码高亮 #}
    {# 代码高亮没生效,而且不好看,之后再调整 #}
    {#    <script src="https://cdn.bootcss.com/highlight.js/9.15.8/highlight.min.js"></script>#}
    {#    <script src="https://cdn.bootcss.com/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>#}
    {#    <script>#}
    {#        hljs.initHighlightingOnLoad();#}
    {#        hljs.initLineNumbersOnLoad();#}
    {#    </script>#}
{% endblock highlight %}

{% block editor %}
    <script type="text/javascript">
        $(function () {
            let editor = editormd("test-editor", {
                // width  : "100%",
                // height : "100%",
                placeholder: "请使用Markdown语法", // 不知道为何不生效
                width: "100%",
                {#autoHeight: true, // 自动高度#}
                {# 设置了自动高度后,少了两行,而且输入框直接看不到了 #}
                height: 400,
                path: "{% static 'editor.md/lib/' %}", // lib路径

                syncScrolling: "single", // 同步滚动
                emoji: true, // emoji表情
                watch: false, // 实时预览，默认开启
                saveHTMLToTextarea: true,

                // searchReplace : true, // 搜索功能，default true
                // Search: Press Ctrl + F / Command + F
                // Replace: Press Ctrl + Shift + F / Command + Option + F
                // Replace All: Press Ctrl + Shift + R / Command + Option + R

                // previewCodeHighlight : true, // 预览 HTML 的代码块高亮，默认开启
                // readOnly: false,  //只读模式，默认关闭
                // tocm: false, // 支持 [TOCM]
                // tex: false, // 科学公式TeX语言支持，默认关闭
                // flowChart: false, // 流程图支持，默认关闭
                // sequenceDiagram: false,       // 开启时序/序列图支持，默认关闭,

                // dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
                // dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                // dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
                // dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
                // dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff

                /* 上传图片配置 */
                // imageUpload: true,
                // imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                // imageUploadURL: "${proPath }/base/blog/upFile", //注意你后端的上传图片服务地址

                {# 自定义工具栏 #}
                toolbarIcons: function () {
                    // Or return editormd.toolbarModes[name]; // full, simple, mini
                    // Using "||" set icons align right.

                    {# 默认 #}
                    // full:["undo","redo","|","bold","del","italic","quote","ucwords","uppercase","lowercase","|",
                    // "h1","h2","h3","h4","h5","h6","|","list-ul","list-ol","hr","|",
                    // "link","reference-link","image","code","preformatted-text","code-block","table","datetime","emoji","html-entities","pagebreak",
                    // "|","goto-line","watch","preview","fullscreen","clear","search","|","help","info"],

                    // simple:["undo","redo","|","bold","del","italic","quote","uppercase","lowercase","|",
                    // "h1","h2","h3","h4","h5","h6","|","list-ul","list-ol","hr","|","watch","preview","fullscreen","|",
                    // "help","info"],mini:["undo","redo","|","watch","preview","|","help","info"]

                    // 撤销　回复撤销　粗体　斜体　引用　代码　代码块　插入连接　插入图片　表格　emoji　预览
                    return ["undo", "redo", "|", "bold", "italic", "quote", "code", "code-block", "link", "image", "table", "emoji", "watch"]
                },

            });

            // editor.watch(); // 启动双窗口对比
            // editor.unwatch(); //取消双窗口对比

            // editor.previewing(); //预览效果???
            // editor.setToolbarAutoFixed(true); //工具栏自动固定定位的开启与禁用，默认警用
            // editor.gotoLine(90); //跳转到指定的行
        });
    </script>
{% endblock editor %}