{% extends 'base.html' %}

{# 导入静态文件 #}
{% load static %}


{% block main %}
    <!-- 上外边距0.5rem -->
    <main class="mt-3">
        <div class="container">
            <div class="row">
                <!-- 正文部分 -->
                <!--当屏幕宽度小于768px(桌面显示器)，上下堆叠排版-->
                <div class="col-lg-8">
                    {% block top %}
                        <!-- 轮播 -->
                        {% include 'blog/tags/carousel.html' %}
                    {% endblock top %}

                    {% block hot %}
                        {# 按照创作时间或者访问量排序 #}
                        {% include 'blog/tags/hot.html' %}
                    {% endblock %}

                    {% block post_list %}
                        {# 文章列表 #}
                        {% include 'blog/tags/posts_list.html' %}

                        {# 分页 #}
                        {% include 'blog/tags/pagination.html' %}
                    {% endblock %}

                </div>

                {# 右侧侧边栏 #}
                {% include 'blog/tags/rsidebar.html' %}


            </div>
        </div>
    </main>

{% endblock main %}