{% extends "blog/base.html" %}
{% load static %}
{% load humanize %}
{% load blog_tags %}

{% block head_title %}个人博客_一个使用django和bootstrap搭建的个人博客{% endblock %}
{% block metas %}
    {# 待定 #}
    {#<meta name="description" content="{{ site_description }}">#}
    {#<meta name="keywords" content="{{ site_keywords }}">#}
    {#<!--站长验证-->#}
    {#{% if site_verification %}{{ site_verification|safe }}{% endif %}#}
{% endblock %}

{% block base_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {# 图片轮播 #}
                {% include 'blog/tags/carousel.html' %}

                {# 排序方式 #}
                <div class="text-secondary font-weight-bold py-2 f-15 choice">
                    {% url 'blog:index' as base_index %}
                    {% url 'blog:index_hot' as hot_index %}

                    <a class="pb-2 {% if request.path == base_index %}active{% endif %}" href="{{ base_index }}">
                        <i class="fa fa-bars mr-1"></i>时间排序</a>
                    <a class="pb-2 ml-4 {% if request.path == hot_index %}active{% endif %}" href="{{ hot_index }}">
                        <i class="fa fa-fire mr-1"></i>热度排序</a>
                </div>

                {# 文章列表 #}
                {# {% load_article_summary articles %} #}
                {% include 'blog/tags/article_list.html' %}

                {# 页码 #}
                {#{% if is_paginated %}{% load_pages %}{% endif %}#}
                {% include 'blog/tags/pagination.html' %}

            </div>

            {# 右侧导航栏 #}
            <div class="col-lg-4">
                {% include 'blog/tags/base_right.html' %}
            </div>
        </div>
    </div>
{% endblock %}